@import "tailwindcss";

/* Common toast style */
.custom-toast {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  animation: fly-in 0.5s ease-out;
}

/* Error toast */
.custom-toast.toast-error {
  background: #c62727 !important;
  color: #ffffff !important;
}

/* Success toast */
.custom-toast.toast-success {
  background: #2cb67d !important;
  color: #ffffff !important;
}

/* Toast body */
.custom-toast-body {
  font-size: 14px;
  padding: 12px;
}

/* Custom Gradient Loader */
.loader {
  width: 60px;
  height: 60px;
  background:
    linear-gradient(to top, #7336FF 0%, #3269FF 100%) 0% 50% no-repeat,
    linear-gradient(to top, #7336FF 0%, #3269FF 100%) 50% 50% no-repeat,
    linear-gradient(to top, #7336FF 0%, #3269FF 100%) 100% 50% no-repeat;
  background-size: 25% 100%;
  animation: loaderAnim 2s infinite ease-in-out; /* slower & bigger bars */
}


@keyframes loaderAnim {
  0%   {background-size: 20% 100%, 20% 100%, 20% 100%;}
  33%  {background-size: 20% 20%, 20% 100%, 20% 100%;}
  50%  {background-size: 20% 100%, 20% 20%, 20% 100%;}
  66%  {background-size: 20% 100%, 20% 100%, 20% 20%;}
  100% {background-size: 20% 100%, 20% 100%, 20% 100%;}
}




/* Fly-in animation */
/* @keyframes fly-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
} */
